golang-oracle/instantclient_12_1/libociei.so filter=lfs diff=lfs merge=lfs -text
golang-oracle/instantclient_12_2/libociei.so filter=lfs diff=lfs merge=lfs -text
ubuntu-oracle/instantclient_12_2/libociei.so filter=lfs diff=lfs merge=lfs -text
